# © Copyright IBM Corporation 2025
# SPDX-License-Identifier: Apache-2.0


[flake8]
extend-ignore = E203
max-line-length = 120
exclude =
    .git,
    __pycache__,
    docs/source/conf.py,
    app/alembic/versions,
    old,
    build,
    dist,
    venv,
max-complexity = 10
